
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    font-family: 'Roboto', sans-serif;
    position: relative;
    color: #636363;
   
}
/* body {
    position: relative;
} */

.container {
    max-width: 90%;
    margin: 0 auto;
}

.section__inner{
    padding: 115px 0 85px;
}

.title p{
    font-size: 22px;
    font-weight: 600;
    color:#f55f8d;
    margin-bottom: 20px;
}
.title h2{
    font-size: 70px;
    color: black;
    margin-bottom: 20px;
}
/* HEADER */
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.header__content nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__content ul{
    list-style: none;
    display: inline-flex;
    margin-right: 30px;
}
.header__content li{
    padding: 55px 15px;
}
.header__content nav a{
    text-transform: capitalize;
    color: black;
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    transition: all;
}

.header__content a:hover {
    color: #f55f8d;

}
a span{
    display: inline-block;
    transition:0.5s;
}


.header__content li:hover span {
    animation: upToDown 0.5s forwards;
    color: #f55f8d;
}

.header__content i{
    font-size: 10px;
    padding-left: 2px;
    vertical-align: middle;
    padding-bottom: 4px;
    transition: 0.5s;
}
.header__content li:hover i{
    color: #f55f8d;
}
@keyframes upToDown {
    49%{
        transform: translateY(100%);
        
    }
    50%{
        transform: translateY(-100%);
        opacity: 0;
    }
    51% {
        opacity: 1;
    }
}


button{ 
    font-size: 15px;
    text-transform: uppercase;
    padding: 20px 35px;
    border-radius: 30px;
    border: none;
    color: white;
    cursor: pointer;
    background-size: 200%;
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    transition: all 0.5s;
    
}


button:hover {
    background-position: right center;
}

/* CAROUSEL */

.carousel {
    padding-top: 180px;
    background-image: url(../image/pic2.png);
    background-position: top;
    background-size: 100%;
    overflow: hidden;
}

.carousel__content {
    display: flex;
    justify-content: center;
}

.carousel__left {
    width: 60%;
    padding-top: 60px;
}

.carousel__title p:first-of-type {
    font-size: 22px;
    font-weight: 600;
    color:#f55f8d;
    margin-bottom: 20px;
}

.carousel__title h2 {
    font-size: 70px;
    color: black;
    margin-bottom: 20px;
}

.carousel__detail p{
    font-size: 18px;
    margin-bottom: 25px;
}

.carousel__detail ul li {
    list-style: none;
    margin-bottom: 25px;
    font-size: 20px;
}
.carousel__detail i{
    width: 35px;
    height: 35px;
    font-size: 24px;
    color:white;
    text-align: center;
    line-height: 35px;
    border-radius: 50%;
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    margin-right: 10px;
}

.carousel__right {
    width:40%;
    padding-left: 50px;
}
.carousel__right img {
    display: block;
}

/* SERVICE */

.our__service {
    padding-top: 115px;
    text-align: center;
    background-image: url(../image/bg2.png);
    background-size: cover;
    background-position: top center;

}

.service__title p {
    font-size: 22px;
    font-weight: 600;
    color: #f55f8d;
    margin-bottom: 20px;
    
}
.service__title h2 {
    font-size: 70px;
    font-weight: 700;
    color: #262626;
    margin-bottom: 20px;
    
}

.service__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-top: 40px;
}


.service__item {
    padding: 30px 45px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 0 60px 0 rgba(0,0,0,.1);
    transform: translateY(0);
    transition: 0.3s;
}
.service__item img {
    width: 215px;
}
.service__item h3 {
    font-weight: 700;
    font-size: 24px;
    color: #262626;
    margin: 15px 0;
}
.service__item:hover{
    transform: translateY(-20PX);
}

/* ABOUT_US */

.about__us {
    background-image: url(../image/bg15.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}
.about__content {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}
.about__left{
    width: 60%;
    border-radius: 0 100px 100px 0;
    position: absolute;
    left: -17%;
}
.about__left img{
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 0 100px 100px 0;

}

.about__right{
    max-width: 50%;
}

.about__detail p{
    margin-bottom: 15px;
}
.about__detail ul{
    margin-bottom: 30px;
}
.about__detail li {
    list-style: none;
    font-size: 16px;
    margin: 10px 0;
}
.about__detail i{
    color:#f55f8d;
    font-size: 24px;
    margin-right: 10px;
    vertical-align:middle;
}


/* NUMBER */

.number {
    background-image: url(../image/bg14.png);
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    padding: 80px 0 50px;
}
.number__detail{
    display: flex;
    justify-content:space-around;
    
}
.number__item {
    width: 25%;
}

.number__item i{
    font-size: 45px;
    color: white;
    background-image: linear-gradient(to right, #f55f8d 0,#f8ae56 51%,#f55f8d 100%); 
    background-size: 200%;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: inline-block;
    line-height: 80px;
    margin-bottom: 15px;
}
.number__item h1{
    font-size: 65px;
    font-weight: 700;
    color: #f55f8d;

}
.number__item p {
    font-size: 18px;
    color: #262626;
}

/* FEATURE */

.our__feature {
    background-image: url(../image/bg2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    overflow: hidden;
    border: 2px solid red;

}
.feature__content {
    display: flex;
}

.feature__left {
    width: 50%;
}

.feature__detail {
    position: relative;
}
/* .feature__icon {
    border: 2px solid rgb(0, 255, 8);
    display: flex;
    align-items: center;
    background-color: white;
    padding: 0 50px 30px 0;
    margin-top: 20px;
    box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
} */


.feature__item {
    padding: 0 50px 30px 0;
}
.feature__item:nth-of-type(2) {
    padding: 0 0 30px 50px;
}

.feature__icon {
    display: flex;
    align-items: center;
    box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
    background-color: #fff;
    border-radius: 10px;
    padding: 30px;
    position: relative;
    overflow: hidden
}

.feature__icon::before{
    content: "";
    position: absolute;
    top:0;
    left:0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    opacity: 0;
    transition: all 1s;
}

.feature__icon:hover::before {
    opacity: 1;
}

.feature__icon i{
    font-size: 80px;
    color: #f55f8d;
    z-index: 1;
    transition: all 1s;
}


.feature__item div {
    padding-left: 25px;
    transition: all 1s;
    z-index: 1;
}
.feature__item h3{
    font-weight: 700;
    color: #262626;
    font-size: 24px;
    padding-bottom: 10px;
    transition: all 1s
}
.feature__icon:hover i, .feature__icon:hover h3, .feature__icon:hover div 
 {
    color: white;
}


.feature__right {
    width: 50%;
   
}
.feature__image {
    margin-right: -80px;
   
}
.feature__right img{
    display: block;
    width: 100%;
    height: 100%;
    animation: feature_rotate 5s infinite ;
}

@keyframes feature_rotate {
    0% {
        transform: rotate(1deg) translate(2px, 2px);
    }
    50% {transform: rotate(-1deg) translate(-2px, -2px);
    }
    100% {transform: rotate(1deg) translate(2px, 2px);
    }
}


/* PORTFOLIO */ 

.portfolio {
    text-align: center;
}
.portfolio__content {
    display: grid;
    grid-template-columns: repeat(2,1fr) 1.5fr;
    gap:35px;
}

.portfolio__item{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.item__1, .item__5 {
    grid-column: 1 / span 2;
}
.item__6 {
    grid-column: 3 / span 1;
    grid-row: 2 / span 2;
}
.portfolio__item img {
    width: 100%;
    height: 100%;
    display: block;
}


.portfolio__item::before {
    content: "";
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -100%;  
    display: block;
    background: linear-gradient(to right,rgba(255,255,255,0) 0,rgba(255,255,255,.3) 100%);
    transform: skewX(-25deg);
    transition: all .5s
}

.portfolio__item:hover::before {
    left: 100%
}

.portfolio__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.4);
    opacity: 0;
    transition: all 0.5s;
}
.portfolio__item:hover .portfolio__overlay{
    opacity: 1;
}

.portfolio__icon {
    position: absolute;
    top:20px;
    right: 20px;
    font-size: 28px;
    color: white;
    background: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 10px;
    transition: all 0.5s;
    transform: translate(20px, -20px );
    
}
.portfolio__item:hover .portfolio__icon{
    transform: translate(0);
}

.portfolio__text {
    position: absolute;
    bottom: 30px;
    left: 30px;
    color: white;
    text-align: left;
    transition: all 0.5s;
    transform: translateY(100px);
}

.portfolio__item:hover .portfolio__text{
    transform: translateY(0);
}
.portfolio__text h3 {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 10px;
}

.portfolio__text p {
    opacity: 0.7;
}
.portfolio__icon a {
    cursor: pointer;
}